.product {
  box-shadow: 5px 5px 10px black;
  border-radius: 6px;
  transition: 0.5s;
}
.product img {
  width: 100%;
  height: 250px;
}
.product h3 {
  color: #130f40;
  text-transform: uppercase;
}
.product:hover {
  transform: translate(0px, -10px);
}

.heading {
  color: #130f40;
  font-style: italic;
}

.price {
  text-align: end;
  margin-bottom: 20px;
  margin-top: -20px;
}
.price a {
  text-decoration: none;
  background: #eb4d4b;
  border-radius: 30px;
  color: #ffffff;
  padding: 10px 16px;
}
.btn-design {
  text-align: center;
  margin-bottom: 20px;
}
.btn-design a {
  text-decoration: none;
  background: #eb4d4b;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 16px;
}
.star-color{
  color: #130f40;
}
